@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/fontawesome.min.css';
@import '~@fortawesome/fontawesome-free/css/brands.min.css';
@import '~@fortawesome/fontawesome-free/css/solid.min.css';


body {
  background-color: #343A40;

}

#main-container {
  height: 100vh;
}

#quote-box {
  color: white;
  margin: auto;
  width: 50%;
}

.quote-text {
  color: white;
}

#text {
  color: #536162;
}

#author {
  color: #E5E5E5;
  font-style: italic;
  font-size: small;
  text-align: right;
}

#new-quote {
  width: 100%;
}

#tweet-quote {
  color: white;
}