@import '~bootstrap/dist/css/bootstrap.min.css';

#quote-box {
  background-color: aquamarine;
}

#text {
  background-color: coral;
}

#author {
  background-color: darkgoldenrod;
}

#new-quote {
  background-color: greenyellow;
}

#tweet-quote {
  background-color: blue;
}